.navbar-item img{
  width: 150px;
  height: 150x;
  max-height: 150px;
}

.button.is-primary {
  background-color: darkslategrey !important;
}

.is-primary.input {
   border-color: darkslategrey !important;
}