<%- include('../partials/_header', {isCreateCollection: false})  %>

<div class= "columns">
    <div class="column is-8 is-offset-2">
         <%- include('../partials/_detail-card',{collection: collection})  %> 
    </div>
</div>

