<%- include('../partials/_header',{isCreateCollection: false}) %> 

<div class="columns is-multiline">
        <% collections.forEach(collection => { %>
            <div class="column is-4">
                <%- include('../partials/_collection-card',{collection: collection}) %> 
            </div>
      <% }) %>
</div>
